<mat-grid-list cols="2" rowHeight="4:1">
  <form [formGroup]="form">
    <mat-grid-tile rowspan="1" colspan="1">
      <div class="fieldTitle">Control One</div>
      <div class="fieldData">Result</div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
      <div class="tileContainer">
        <div class="blue">Control Two</div>
        <div class="orange">Value</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
      <h3 class="fieldTitle">Control Three</h3>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
      <h3 class="fieldTitle">Control Four</h3>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
      <h3 class="fieldTitle">Control Five</h3>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
      <h3 class="fieldTitle">Control Six</h3>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
      <h3 class="fieldTitle">Control Seven</h3>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
      <h3 class="fieldTitle">Control Eight</h3>
    </mat-grid-tile>
  </form>
</mat-grid-list>
