.tileContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tileContainer > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 33%;
  width: 100%;
}

.checkboxText {
  color: #0094ba;
}

.formTitle {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 50%;
  width: 100%;
}

.fieldTitle {
  font-weight: 500;
}

.innerForm {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}

.innerForm > * {
  /*border: 2px solid purple;*/
}
