<div *ngFor="let pokemon of pokemon$ | async">
  <input type="text" [value]="pokemon.id">
  <input type="text" [value]="pokemon.name">
  <button mat-button (click)="updatePokemon(pokemon)">Update {{pokemon.name}}</button>
  <button mat-button (click)="deletePokemon(pokemon)">Delete {{pokemon.name}}</button>
  <button mat-button (click)="selectPokemon(pokemon)">Select {{pokemon.name}}</button>
</div>

<app-pokemon-details (saved)="createPokemon($event)"></app-pokemon-details>

<pre>
  {{selectedPokemon$ | async | json}}
</pre>
