<div class='col-sm-12' [ngClass]='routeAnimationElements'><h1>Hello World</h1></div>
<div class='row' [ngClass]='routeAnimationElements'>
  <button class='col' mat-raised-button color='primary' (click)="changeTheme('DEFAULT-THEME')">change to default
    theme
  </button>
  <button class='col' mat-raised-button color='accent' (click)="changeTheme('DARK-THEME')">change to dark theme
  </button>
  <button class='col' mat-raised-button color='warn' (click)="changeTheme('NATURE-THEME')">change to nature theme
  </button>
  <button class='col' mat-raised-button color='accent' (click)="changeTheme('LIGHT-THEME')">change to light theme
  </button>
</div>
