<pg-layout-info-list></pg-layout-info-list>

<pg-layout-card-refresh-wrapper>
  <pg-layout-data-provider title="test"></pg-layout-data-provider>
</pg-layout-card-refresh-wrapper>







<!--<pg-layout-card-wrapper title="Example">-->
<!--  <ng-container topCorner>-->
<!--    <button mat-mini-fab aria-label="Example icon button with a home icon" color="primary" class="mat-elevation-z8">-->
<!--      <mat-icon>refresh</mat-icon>-->
<!--    </button>-->
<!--  </ng-container>-->
<!--  <ng-container subTitle>SubTitle</ng-container>-->
<!--  <ng-container content>-->
<!--    <p mat-line>Content is here</p>-->
<!--    <p mat-line>Content is here</p>-->
<!--    <p mat-line>Content is here</p>-->
<!--    <p mat-line> Job Role - test </p>-->
<!--  </ng-container>-->

<!--</pg-layout-card-wrapper>-->

<!--<pg-layout-carousel>-->
<!--  <ng-container *ngFor="let item of items">-->
<!--    <ng-container *pgLayoutCarouselItem>-->
<!--      <div class="item">{{ item.title }}</div>-->
<!--    </ng-container>-->
<!--  </ng-container>-->
<!--</pg-layout-carousel>-->

<!--<pg-layout-card-refresh-wrapper>-->
<!--  <pg-layout-data-provider></pg-layout-data-provider>-->
<!--</pg-layout-card-refresh-wrapper>-->
